<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>Bianca 10 anos! 🎉 🎊 </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <!-- Font Awesome icons (free version)-->
  <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />
</head>
<body>
<header>
  <h1 class="site-heading text-center text-faded d-lg-block">
    <span class="site-heading-upper"> 🥳 Chegou a hora de comemoramos juntos!  🥳</span>
<!--    <span class="site-heading-lower mb-lg-3">Bianca 10 anos!</span>-->
  </h1>
</header>


<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="/images/bibi-party.webp" alt="Convite do Bibi" />
    <div class="about-heading-content">
      <div id="app" class="row">
        <div class="col-xl-12 col-lg-12 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-lower">Confirme sua presença!</span>
            </h2>
            <p>🍔 Por favor confirme seus convidados e idades para o buffet 🍔</p>
            <form @submit.prevent="save" >
              <div class="form-floating mb-3">
                <input type="text" readonly class="form-control" id="name" v-model="participant.name" placeholder="Seu Nome">
                <label for="name">Seu Nome</label>
              </div>
              <div v-for="(guest, index) in participant.guests" >
                <div class="input-group mb-3 guests">
                  <div class="form-floating mb-3 col-8">
                    <input type="text" readonly class="form-control" v-model="guest.name" id="guestName" placeholder="Acompanhante">
                    <label for="guestName">Acompanhante</label>
                  </div>
                  <div class="form-check col-12">
                    <input class="form-check-input checkbox-xl" v-model="guest.isKid" type="checkbox" :id="index">
                    <label class="form-check-label" style="padding-left: 8px" :for="index">
                      Menor de 10 anos?
                    </label>
                  </div>
                  <div class="form-floating mb-3 col-1">
                    <button type="button" class="btn btn-outline-primary" @click="removeGuest(index)">
                      <em class="fa-solid fa-trash-can"></em> Retirar Acompanhante
                    </button>
                  </div>
                </div>
              </div>
              <button class="btn btn-success col-12" type="submit" :disabled="confirmBtnBlock">
                \{{ confirmBtnText }}
                <span class="spinner-border spinner-border-sm" v-if="loading" role="status" aria-hidden="true"></span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="footer text-faded text-center py-5">
  <div class="container"><p class="m-0 small">Feito com ❤️ pelo papai <a href="https://www.linkedin.com/in/🤓-jefferson-alves-reis-00007361/">jefaokpta</a> 2024 </p></div>
</footer>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
  const { createApp, ref } = Vue
  const searchParams = new URLSearchParams(window.location.search)
  const id = searchParams.get('id')
  createApp({
    data() {
      const participant = ref({})
      const loading = ref(false)
      const confirmAlert = ref(false)
      const confirmBtnText = ref('Confirme sua presença!')
      const confirmBtnBlock = ref(false)
      return {
        participant,
        loading,
        confirmAlert,
        confirmBtnText,
        confirmBtnBlock
      }
    },
    async mounted() {
      const response = await fetch(`participants/${id}`)
      this.participant = await response.json()
      if (this.participant.isConfirmed) {
        this.confirmBtnText = 'Confirmado uhuu! 🥳'
        this.confirmBtnBlock = true
      }
    },
    methods: {
      async save() {
        this.loading = true
        this.confirmBtnText = 'Salvando...'
        const response = await fetch(`participants/${id}`, {
          method: 'PATCH',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify(this.participant)
        })
        this.loading = false
        if (response.ok) {
          this.confirmBtnText = 'Confirmado uhuu! 🥳 '
          this.confirmBtnBlock = true
        }
      },
      removeGuest(index) {
        this.participant.guests.splice(index, 1)
      }
    }
  }).mount('#app')
</script>
</body>
</html>
